{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card my-5 mx-auto" style="max-width: 500px;">
    <div class="card-header fs-4 text-center py-3">Регистрация</div>
    <div class="card-body">
        <form action="" id="register-form" method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
        <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-outline-secondary">Войти</a>
        <button type="submit" form="register-form" class="btn btn-sm btn-primary">Зарегистрироваться</button>
    </div>
</div>
{% endblock %}