{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Создание комментария</div>
        <div class="card-body">
            <form action="" id="article-form" method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout="floating" %}
            </form>
        </div>
        <div class="card-footer text-end py-3">
            <a href="{% url 'articles:detail' article_pk %}" class="btn btn-sm btn-warning">Отменить</a>
            <button type="submit" form="article-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>
    </div>
{% endblock %}
