{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'articles:create' %}">Добавить статью</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center">{{ article.title }}</div>
        <div class="card-body">
            <figure>
                <blockquote class="blockquote">
                    <p>{{ article.content }}</p>
                </blockquote>
                <p>Статус: {{ article.get_status_display }}</p>
                <figcaption class="blockquote-footer mt-3">
                    Автор: {{ article.author }}
                </figcaption>
                <p>Теги: {% for tag in article.tags.all %}{{ tag }} {% endfor %}</p>
            </figure>
        </div>
        <div class="d-flex justify-content-between align-items-center me-3 mb-3">
            {% if request.user.is_authenticated %}
                <button
                    class="btn btn-sm btn-outline-danger like-btn ms-3"
                    data-url="{% url 'articles:article-like' article.pk %}">
                    <span class="like-icon">♡</span>
                    <span class="likes-count">{{ article.likes_count }}</span>
                </button>
            {% else %}
                <span class="ms-3">♡ {{ article.likes_count }}</span>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-warning">
                    <span>Изменить</span><i class="fa-regular fa-pen-to-square ms-2"></i>
                </a>
                <a href="{% url 'articles:delete' article.pk %}" class="btn btn-outline-danger">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="card my-5">
        <div class="card-header">Комментарии</div>
        <div class="card-body">
            {% for comment in comments %}
                <div class="d-flex justify-content-between align-items-center border-bottom py-2">
                    <p class="mb-0">{{ forloop.counter }}. {{ comment }}</p>
                    {% if request.user.is_authenticated %}
                        <button
                            class="btn btn-sm btn-outline-danger like-btn"
                            data-url="{% url 'articles:comment-like' comment.pk %}">
                            <span class="like-icon">♡</span>
                            <span class="likes-count">{{ comment.likes_count }}</span>
                        </button>
                    {% else %}
                        <span>♡ {{ comment.likes_count }}</span>
                    {% endif %}
                </div>
            {% empty %}
                <p>Комментариев нет</p>
            {% endfor %}
        </div>
        <div class="text-end me-3 mb-3">
            <a href="{% url 'articles:comment-create' article.pk %}" class="btn btn-outline-warning">
                <span>Добавить комментарий</span>
            </a>
        </div>
    </div>
    {% include 'partial/article_delete_modal.html' with article=article %}
{% endblock %}